@media screen and (max-width: 1200px) {
    .logoName img{
        width: 200px;
        height: 40px;
    }
    .f-grid{
        font-size: 10px;
        height: 10vh;
        align-self: auto;
    }
    .social{
        justify-self: end;
    }
    .contact{
        padding: 0px;
        margin-top: 35px;
    }
    .contact .email input, .contact .email button {
        padding: 5px;
        font-size: 10px;
    }
    .info{
        align-self: auto;
    }
}

@media screen and (max-width: 900px) {
    .logoName{
        grid-area: logoName;
    }
    .socials{
        grid-area: socials;
        justify-self: center;
    }
    .contact{
        grid-area: contact;
        padding: 0;
        justify-self:auto ;
    }
    .info{
        grid-area: info;
        justify-self:auto ;

    }

    .footer{
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas: 
        "logoName logoName"
        "socials contact"
        "info info";
        height: 50vh;
    }

    .f-grid{
        padding: 20px 10px;
    }

    .contact .email input{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .logoName img{
        width: 150px;
        height: 34px;
    }
    .footer{
        height: 55vh;
    }
    .contact{
        padding: 20px 5px;
    }

    .contact .email input{
        width: 50%;
    }
}

