@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --dark: #16181B;
    --red: #E51515;
    --font: 'Open Sans';
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    color: #ffffff;
    background-color: var(--dark);
    font-family: var(--font);
    font-size: 14px;
}

.f-grid a{
    text-decoration: none;
    color: #ffffff;
}
.f-grid a:hover{
    color: rgb(165, 165, 165);
}

.f-grid{
    justify-self: center;
    align-self: center;
    padding: 20px;
}
.logoName{
    margin-left: 20px;
}
.logoName img{
    width: 271px;
    height: 57px;
}

.socials div{
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-self: center;
    justify-self: center;
    margin: 10px;
}

.socials div a{
    margin-left: 5px;
}

.contact .email{
    margin-top: 15px;
}

.contact .email input{
    background-color: var(--dark);
    color: #ffffff;
    outline: none;
    border: none;
    padding: 15px;
    border: 2px solid var(--red);
    border-radius: 7px 0px 0px 7px;
    width: 60%;
}

.contact .email input::placeholder {
    color: #ffffff;
}

.contact .email input:focus::placeholder {
    color: transparent;
}

.contact .email button{
    background-color: var(--red);
    color: #ffffff;
    outline: none;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border: 2px solid var(--red);
    border-radius: 0px 7px 7px 0px;
}

.info{
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
    .logoName img{
        width: 200px;
        height: 40px;
    }
    .f-grid{
        font-size: 10px;
        height: 10vh;
        align-self: auto;
    }
    .social{
        justify-self: end;
    }
    .contact{
        padding: 0px;
        margin-top: 35px;
    }
    .contact .email input, .contact .email button {
        padding: 5px;
        font-size: 10px;
    }
    .info{
        align-self: auto;
    }
}

@media screen and (max-width: 900px) {
    .logoName{
        grid-area: logoName;
    }
    .socials{
        grid-area: socials;
        justify-self: center;
    }
    .contact{
        grid-area: contact;
        padding: 0;
        justify-self:auto ;
    }
    .info{
        grid-area: info;
        justify-self:auto ;

    }

    .footer{
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas: 
        "logoName logoName"
        "socials contact"
        "info info";
        height: 50vh;
    }

    .f-grid{
        padding: 20px 10px;
    }

    .contact .email input{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .logoName img{
        width: 150px;
        height: 34px;
    }
    .footer{
        height: 55vh;
    }
    .contact{
        padding: 20px 5px;
    }

    .contact .email input{
        width: 50%;
    }
}

